
/*https://coolors.co/dde7b1-c0c5c1-7d8491-574b60-3f334d*/
input {

  background-color: whitesmoke;
  width: 300px;
  color: black;
  border-radius: 20px;
  padding: 5px;
  /* top, right, bottom, and left */
  margin: 10px 0px 0px 100px;



}