.buscador {
  align-self: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0px 0px 100px;
    width: 1400px;
}

.pelicula img {

  height: 562px;
  width: 380px;
}
}