.buscador {
    align-self: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0px 0px 100px;
    width: 1400px;
}

h2 {
    text-align: center;
    margin-bottom: 3vw;
}

#paginacion {
    display: flex;
    justify-content: center;
}